<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoyan.quickdevelop.system.mapper.postprocessor.DqArticlePostProcessorMapper">
    <resultMap id="DqArticleResult"
               type="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqArticlePostProcesser">
        <id property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
        <result property="articleContent" column="article_content" jdbcType="LONGVARCHAR"/>
        <result property="articleImage" column="article_image" jdbcType="VARCHAR"/>
        <result property="sectionId" column="section_id" jdbcType="BIGINT"/>
        <result property="sectionTypeId" column="section_type_id" jdbcType="BIGINT"/>
        <result property="authorId" column="author_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="articleWeight" column="article_weight" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="collectionNum" column="collection_num" jdbcType="BIGINT"/>
        <result property="commentNum" column="comment_num" jdbcType="BIGINT"/>

        <association property="dqSectionPostProcessor"
                     javaType="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqSectionPostProcessor"
                     resultMap="DqSectionResult"/>
        <association property="dqSectionType" javaType="com.maoyan.quickdevelop.common.core.domain.DqSectionType"
                     resultMap="DqSectionTypeResult"/>
        <association property="dqArticleAuthor"
                     javaType="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqUserPostProcessor"
                     resultMap="DqUserPostProcessorResult"/>
    </resultMap>

    <resultMap id="DqSectionResult"
               type="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqSectionPostProcessor">
        <id property="sectionId" column="section_id" jdbcType="BIGINT"/>
        <result property="sectionName" column="section_name" jdbcType="VARCHAR"/>
        <result property="sectionIntroduce" column="section_introduce" jdbcType="VARCHAR"/>
        <result property="sectionLogo" column="section_logo" jdbcType="VARCHAR"/>
        <result property="sectionBackground" column="section_background" jdbcType="VARCHAR"/>
        <result property="sectionAdminUserId" column="section_admin_user_id" jdbcType="VARCHAR"/>
        <result property="sectionWeight" column="section_weight" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="articleNum" column="article_num" jdbcType="BIGINT"/>
        <result property="followNum" column="follow_num" jdbcType="BIGINT"/>
        <association property="dqUserPostProcessor"
                     javaType="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqUserPostProcessor"
                     resultMap="DqUserPostProcessorResult"/>

    </resultMap>

    <resultMap id="DqUserPostProcessorResult"
               type="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqUserPostProcessor">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="CHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <!--        <result property="password" column="password" jdbcType="VARCHAR"/>-->
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="loginIp" column="loginIp" jdbcType="VARCHAR"/>
        <result property="loginDate" column="loginDate" jdbcType="TIMESTAMP"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="grade" column="grade" jdbcType="BIGINT"/>
        <result property="experience" column="experience" jdbcType="BIGINT"/>
        <result property="checkParam" column="check_param" jdbcType="VARCHAR"/>
        <result property="checkStatus" column="check_status" jdbcType="CHAR"/>
        <result property="schoolId" column="school_id" jdbcType="BIGINT"/>
        <!--        <result property="status" column="status" jdbcType="CHAR"/>-->
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <collection property="dqUserRoleList" javaType="java.util.List"
                    ofType="com.maoyan.quickdevelop.common.core.domain.DqUserRole" resultMap="RolesResult"/>
    </resultMap>
    <resultMap id="RolesResult" type="com.maoyan.quickdevelop.common.core.domain.DqUserRole">
        <id property="userRoleId" column="user_role_id" jdbcType="BIGINT"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="roleStatus" column="role_status" jdbcType="CHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DqSectionTypeResult" type="com.maoyan.quickdevelop.common.core.domain.DqSectionType">
        <id property="sectionTypeId" column="section_type_id" jdbcType="BIGINT"/>
        <result property="sectionTypeName" column="section_type_name" jdbcType="VARCHAR"/>
        <result property="sectionId" column="section_id" jdbcType="BIGINT"/>
        <result property="sectionTypeWeight" column="section_type_weight" jdbcType="BIGINT"/>
        <result property="sectionTypeMold" column="section_type_mold" jdbcType="VARCHAR"/>
        <result property="sectionTypeNetwork" column="section_type_network" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectDqArticlePostProcessorVO">
        select dq_article.article_id,
               dq_article.article_title,
               dq_article.article_content,
               dq_article.article_image,
               dq_article.section_id,
               dq_article.section_type_id,
               dq_article.author_id,
               dq_article.status,
               dq_article.article_weight,
               dq_article.create_time,
               dq_article.update_time,
               ds.section_id,
               ds.section_name,
               ds.section_introduce,
               ds.section_logo,
               ds.section_background,
               ds.section_admin_user_id,
               ds.section_weight,
               ds.create_time,
               ds.update_time,
               dst.section_type_id,
               dst.section_type_name,
               dst.section_id,
               dst.section_type_weight,
               dst.section_type_mold,
               dst.section_type_network,
               dst.create_time,
               dst.update_time,
               du.user_id,
               du.user_name,
               du.email,
               du.phone_number,
               du.sex,
               du.avatar,
               du.status,
               du.loginIp,
               du.loginDate,
               du.signature,
               du.grade,
               du.experience,
               du.check_param,
               du.check_status,
               du.school_id,
               du.create_time,
               du.update_time,
               dur.user_role_id,
               dur.role_name,
               dur.user_id,
               dur.role_status,
               dur.create_time,
               dur.update_time,
               (select count(*) from dq_comment where dq_comment.article_id = dq_article.article_id) as comment_num,
               (select count(*)
                from dq_collection
                where dq_collection.article_id = dq_article.article_id)                              as collection_num
        from dq_article
                 left join dq_section ds on dq_article.section_id = ds.section_id
                 left join dq_section_type dst on dq_article.section_type_id = dst.section_type_id
                 left join dq_user du on dq_article.author_id = du.user_id
                 left join dq_user_role dur on du.user_id = dur.user_id
    </sql>
    <select id="selectAllDqArticlePostProcesser"
            parameterType="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqArticlePostProcesser"
            resultMap="DqArticleResult">
        <include refid="selectDqArticlePostProcessorVO"></include>
        <where>
            <if test="dqArticlePostProcesser.articleId != null and dqArticlePostProcesser.articleId != ''">
                AND dq_article.article_Id = #{dqArticlePostProcesser.articleId}
            </if>
            <if test="dqArticlePostProcesser.articleTitle != null and dqArticlePostProcesser.articleTitle != ''">
                AND dq_article.article_title like concat('%',#{dqArticlePostProcesser.articleTitle},'%')
            </if>
            <if test="dqArticlePostProcesser.sectionId != null and dqArticlePostProcesser.sectionId != ''">
                AND dq_article.section_id = #{dqArticlePostProcesser.sectionId}
            </if>
            <if test="dqArticlePostProcesser.sectionTypeId != null and dqArticlePostProcesser.sectionTypeId != ''">
                AND dq_article.section_type_id = #{dqArticlePostProcesser.sectionTypeId}
            </if>
            <if test="dqArticlePostProcesser.authorId != null and dqArticlePostProcesser.authorId != ''">
                AND dq_article.author_id = #{dqArticlePostProcesser.authorId}
            </if>
            <if test="true">
                AND dq_article.status = 1
            </if>
            <choose>
                <when test="dqArticlePostProcesser.articleSortWay == '1'">
                    order by comment_num desc
                </when>
                <otherwise>

                </otherwise>
            </choose>
<!--            <if test="dqArticlePostProcesser.articleSortWay != null and dqArticlePostProcesser.articleSortWay != ''">-->
<!--                <if test="dqArticlePostProcesser.articleSortWay == '1'">-->
<!--                    order by dq_article.article_id asc-->
<!--                </if>-->
<!--            </if>-->
        </where>
    </select>
</mapper>