<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoyan.quickdevelop.system.mapper.postprocessor.DqCollectionPostProcessorMapper">

    <resultMap id="DqCollectionPostProcessorResult"
               type="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqCollectionPostProcesser">
        <id property="collectionId" column="collection_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <association property="dqArticle"
                     javaType="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqArticlePostProcesser"
                     resultMap="DqArticleResult"/>
    </resultMap>

    <resultMap id="DqArticleResult"
               type="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqArticlePostProcesser">
        <id property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
        <result property="articleContent" column="article_content" jdbcType="LONGVARCHAR"/>
        <result property="articleImage" column="article_image" jdbcType="VARCHAR"/>
        <result property="sectionId" column="section_id" jdbcType="BIGINT"/>
        <result property="sectionTypeId" column="section_type_id" jdbcType="BIGINT"/>
        <result property="authorId" column="author_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="articleWeight" column="article_weight" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="collectionNum" column="collection_num" jdbcType="BIGINT"/>
        <result property="commentNum" column="comment_num" jdbcType="BIGINT"/>
        <association property="dqArticleAuthor"
                     javaType="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqUserPostProcessor"
                     resultMap="DqUserPostProcessorResult"/>
    </resultMap>

    <resultMap id="DqUserPostProcessorResult"
               type="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqUserPostProcessor">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="CHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <!--        <result property="password" column="password" jdbcType="VARCHAR"/>-->
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="loginIp" column="loginIp" jdbcType="VARCHAR"/>
        <result property="loginDate" column="loginDate" jdbcType="TIMESTAMP"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="grade" column="grade" jdbcType="BIGINT"/>
        <result property="experience" column="experience" jdbcType="BIGINT"/>
        <result property="checkStatus" column="check_status" jdbcType="CHAR"/>
        <result property="schoolId" column="school_id" jdbcType="BIGINT"/>
        <!--        <result property="status" column="status" jdbcType="CHAR"/>-->
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="selectDqCollectionPostProcessorVO">
        select dq_collection.collection_id,
               dq_collection.user_id,
               dq_collection.article_id,
               dq_collection.create_time,
               dq_collection.update_time,
               da.article_id,
               da.article_title,
               da.article_content,
               da.article_image,
               da.section_id,
               da.section_type_id,
               da.author_id,
               da.status,
               da.article_weight,
               da.delete_flag,
               da.create_time,
               da.update_time,
               du.user_id,
               du.user_name,
               du.email,
               du.phone_number,
               du.sex,
               du.avatar,
               du.status,
               du.loginIp,
               du.loginDate,
               du.signature,
               du.grade,
               du.experience,
               du.school_id,
               du.create_time,
               du.update_time
        from dq_collection
                 left join dq_article da on da.article_id = dq_collection.article_id
                 left join dq_user du on da.author_id = du.user_id
    </sql>
    <select id="selectDqCollectionPostProcessor"
            parameterType="com.maoyan.quickdevelop.system.domain.queryvo.DqCollectionQueryVO"
            resultMap="DqCollectionPostProcessorResult">
        <include refid="selectDqCollectionPostProcessorVO"></include>
        <where>
        </where>
    </select>
</mapper>