<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoyan.quickdevelop.system.mapper.postprocessor.DqFollowUserPostProcessorMapper">

    <resultMap id="DqFollowDqUserPostProcesserMap"
               type="com.maoyan.quickdevelop.common.core.domain.postprocessor.DqFollowDqUserPostProcesser">

        <id property="followId" column="follow_id" jdbcType="BIGINT"/>
        <result property="giveFollowDqUserId" column="give_follow_dquser_id" jdbcType="BIGINT"/>
        <result property="followedDqUserId" column="followed_dquser_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <association property="followedDqUser"
                     javaType="com.maoyan.quickdevelop.common.core.domain.DqUser"
                     resultMap="DqUserMap"/>
    </resultMap>

    <resultMap id="DqUserMap" type="com.maoyan.quickdevelop.common.core.domain.DqUser">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="CHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <!--        <result property="password" column="password" jdbcType="VARCHAR"/>-->
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="loginIp" column="loginIp" jdbcType="VARCHAR"/>
        <result property="loginDate" column="loginDate" jdbcType="TIMESTAMP"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="grade" column="grade" jdbcType="BIGINT"/>
        <result property="experience" column="experience" jdbcType="BIGINT"/>
        <result property="checkStatus" column="check_status" jdbcType="CHAR"/>
        <result property="schoolId" column="school_id" jdbcType="BIGINT"/>
        <!--        <result property="status" column="status" jdbcType="CHAR"/>-->
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="selectfollowUserVO">
        select dq_follow_interdquser.follow_id,
               dq_follow_interdquser.give_follow_dquser_id,
               dq_follow_interdquser.followed_dquser_id,
               dq_follow_interdquser.delete_flag,
               dq_follow_interdquser.create_time,
               dq_follow_interdquser.update_time,
               du.user_id,
               du.user_name,
               du.email,
               du.phone_number,
               du.sex,
               du.avatar,
               du.password,
               du.status,
               du.loginIp,
               du.loginDate,
               du.signature,
               du.grade,
               du.experience,
               du.check_param,
               du.check_status,
               du.school_id,
               du.delete_flag,
               du.create_time,
               du.update_time
        from dq_follow_interdquser
    </sql>
    <!--A关注B-->
    <!--    根据A的ID查询A被关注的人B-->
    <select id="selectFollowedDqUserByUserId"
            parameterType="java.lang.Long"
            resultMap="DqFollowDqUserPostProcesserMap">
        <include refid="selectfollowUserVO"></include>
        left join dq_user du on dq_follow_interdquser.followed_dquser_id = du.user_id
        <where>
            give_follow_dquser_id = #{dqUserId}
        </where>
    </select>

    <!--    根据B的ID查询粉丝A-->
    <select id="selectGiveFollowDqUserByUserId"
            parameterType="java.lang.Long"
            resultMap="DqFollowDqUserPostProcesserMap">
        <include refid="selectfollowUserVO"></include>
        left join dq_user du on dq_follow_interdquser.give_follow_dquser_id = du.user_id
        <where>
            followed_dquser_id = #{dqUserId}
        </where>
    </select>
</mapper>